// 基本字体
.basic_font {
    font-weight: 500;
    font-size: 32px;
    line-height: 64px;
    color: #212121;
}

.font1 {
    font-family: PingFang SC，DroidSansFallback，Lantinghei SC, Helvetica, Arial, 'Hiragino Sans GB';
}

.font2 {
    font-family: WEMO Num;
}