// 基本字体
.basic_font {
    color: #212121;
    font-size: 32px;
    font-weight: 500;
    line-height: 64px;
}

.font1 {
    font-family: "PingFang SC，DroidSansFallback，Lantinghei SC", Helvetica, Arial, 'Hiragino Sans GB';
}

.font2 {
    font-family: "WEMO Num";
}