# 解决问题：
# 1. Can't resolve '@docusaurus/theme-common' in xxx
# 2. This page crashed. Hook useDocsSidebar is called outside the <DocsSidebarProvider>

# 原因：属于 npm 的幽灵依赖(phantom dependency)问题。
# 解决办法：使用 public-hoist-pattern 提升包 @docusaurus/theme-common 至根目录。

# 参考：
# 1. https://pnpm.io/zh/npmrc#public-hoist-pattern
# 2. https://github.com/facebook/docusaurus/issues/7880
# 3. https://github.com/facebook/docusaurus/issues/6724

public-hoist-pattern[]=@docusaurus/theme-common*
public-hoist-pattern[]=@mdx-js/react


puppeteer_download_host=https://npm.taobao.org/mirrors
