.count {
  display: flex;
  margin-top: 80px;
}

.number {
  font-family: serif;
  font-family: font-wemo;
  font-size: 100px;
  line-height: 80px;
}

.ext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4px;
}

.add {
  color: #000;
  font-size: 24px;
  line-height: 24px;

  &.hidden {
    opacity: 0;
  }
}

.unit {
  color: #000;
  font-size: 16px;
  line-height: 1;
}
